<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
</head>
<body>
    <div id="hello-world">
        <fieldset>
            <legend>Template</legend>
            <div v-html="htmlContent"></div>
            <p>Nome: {{firstName}}</p> 
            <p>Sobrenome: {{lastName}}</p> 
            <p>Idade: {{age}} anos</p>
            <p>{{age >= 18 ? 'Maior de idade' : 'É de menor!'}}</p> 
        </fieldset>

        <fieldset>
            <legend>Methods</legend>
            <button v-on:click="incrementAge">Incrementar idade</button> 
            <button @click="decrementAge">Decrementar idade</button>
            <!-- Tanto faz usar v-on:click ou @click --> 
        </fieldset>

        <fieldset>
            <legend>Computed Properties</legend>
            <p>Nome completo: {{fullName}}</p>
        </fieldset>

        <fieldset>
            <legend>Watchers</legend>
            <label for="input-address">Endereço:</label>
            <input id="input-address" type="text" v-model="address">
        </fieldset>

        <fieldset>
            <legend>V-if</legend>
            <label for="input-grade">Nota: </label>
            <input id="input-grade" type="text" v-model="grade">
            <p v-if="grade < 60">Reprovado</p>
            <p v-else-if="grade >= 60 && grade < 98">Aprovado</p>
            <p v-else-if="grade >= 60 && grade >= 98">Aprovado com excelência</p>
            <p v-else>Valor inválido</p>
        </fieldset>

        <fieldset>
            <legend>v-show</legend>
            <button v-show="!isUserLogged" @click="isUserLogged = true">Login</button>
            <button v-show="isUserLogged" @click="isUserLogged = false">Logout</button>
        </fieldset>
        <!-- diferente do v-else, o v-show não tira o elemento do DOM. Mais adequado para situações em que o elemento vai sofrer muitas alterações -->

        <fieldset>
            <legend>V-text</legend>
            <p>{{firstName}}</p>
            <p v-text="firstName"></p>
        </fieldset>

        <fieldset>
            <legend>V-HTML</legend>
            <div v-html="htmlContent"></div>
        </fieldset>

        <fieldset>
            <legend>V-once</legend> <!-- Só avalia o componente uma vez -->
            <p v-once>{{count}}</p> <!-- V-once não deixa esse valor aqui ser incrementado -->
            <p>{{count}}</p>
            <button @click="count++">Adicionar</button>
        </fieldset>

        <fieldset>
            <legend>V-for</legend>
            <h4>Marcas</h4>
            <ul>
                <li v-for="brand in carBrands">{{brand}}</li>
            </ul>
            <h4>Carros</h4>
            <ul>
                <li v-for="car in cars">{{car.name}} ({{car.brand}})</li>
            </ul>
            <h4>Carro</h4>
            <p v-for="(value, key, index) in car">{{index}} - {{key}} - {{value}}</p>
            
        </fieldset>
        <fieldset>
            <legend></legend>
        </fieldset>
        <fieldset>
            <legend></legend>
        </fieldset>
        <fieldset>
            <legend></legend>
        </fieldset>
        <fieldset>
            <legend></legend>
        </fieldset>

    </div>
    
    <script src="https://unpkg.com/vue@3.0.4"></script>
    <script>
        const app = {
            data() {
                return {
                    htmlContent: "<p style='color: red; font-size: 20px'>Hello World, Vue.js!</p>",
                    firstName: "John",
                    lastName: "Lenon",
                    age: 30,
                    address: "",
                    grade: 0,
                    isUserLogged: false,
                    count: 1,
                    carBrands: ["VW", "Fiat", "Renault", "Ford"],
                    cars: [{ name: "Ka", brand: "Ford" }, { name: "Palio", brand: "Fiat" }, { name: "Sandero", brand: "Renault" }],
                    car: { name: "Ka", brand: "Ford", year: 2010, km: 60000 }
                }
            },
            methods: {            
                incrementAge() {
                    this.age++
                },
                decrementAge() {
                    this.age--
                }
                /* Nesses métodos, arrow functions devem ser evitadas, pois elas fazem o this perder a referência */
            },            
            computed: { /* O computed armazena as chamadas em cash, diferente dos métodos. Os métodos são mais adequados para informações quem mudam frequentemente. */
                fullName: function() {
                    return `${this.firstName} ${this.lastName}`
                }
            },
            watch: {
                address: function(newValue, oldValue) {
                    console.log(newValue)
                    console.log(oldValue)
                }
            }
        }

        const vm = Vue.createApp(app).mount("#hello-world")
    </script>
</body>
</html>